1967 Topps Mets Rookies | https://www.psacard.com/auctionprices/baseball-cards/1967-topps/mets-rookies/values/187370
1986 Fleer Michael Jordan | https://www.psacard.com/auctionprices/basketball-cards/1986-fleer/michael-jordan/values/12345
